/*
85603F
9E7540
BD9354
E3D18A
*/

h1, h2, h3, li, label{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 10vh;
    background-color: #85603F;
    padding: 0 2vw;
    display: flex;
    align-items: center;
}

.logo{
    height: 100%;
    display: flex;
    align-items:center;
    color: white;
}

.logo img{
    height: 60%;
}

.logo h1{
    margin-top: 2vh;
}

.controller{
    background-color: #BD9354;
    height: 82vh;
    width: 10vw;
    position: fixed;
}

.janela{
    padding: 4vh 2vw;
}

.valist-container{
    height: 100%;
}

.valist-container h2{
    font-weight: 900;
}

.valist button{
    border: none;
    background-color: transparent;
}

.valist button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.program {
    background-color:#E3D18A;
    padding-left: 15vw;
    height: 82vh;
}

.columns{
    display: flex;
    width: 100%;
}

.columns li{
    width: 16.6666666%;
}

.title{
    font-weight: 700;
    margin-bottom: 0.5vh;
}

.username{
    font-size: 5vh;
    margin-bottom: 3vh;
}

.item{
    background-color: #ecda8f;
    border-radius: 1vh;
    padding: 1vh;
}

.values{
    margin-bottom: 1.5vh;
}

form{
    margin-top: 3vh;
}

#search-form div{
    margin-bottom: 0.5vh;
}